
  aside .logo-container {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.394);
  }

  aside .logo-container h3 {
    color: rgb(255, 255, 255);
  }

  aside .logo-container small {
    font-size: 11px;
    color: #c5c5c5;
  }

  aside .sidenav-search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    padding: 0 80px;
  }

  aside ul h4 {
    font-size: 16px;
    color: rgba(170, 170, 170, 0.755);
    padding-left: 17px;
    margin: 15px 0;
  }


  aside ul li {
    cursor: pointer;
    transition: .2s;
  }

  aside ul li label {
    cursor: pointer;
  }

  aside a{
    display: flex;
    align-items: center;
    padding: 14px;
    text-decoration: none;
    transition: .2s;
  }

  aside a svg {
    margin-right: 15px;
  }

  aside a:hover {
    color: rgb(104, 167, 255);
  }

  aside a.aside-item-actived {
    color: rgb(246, 149, 22);
    font-weight: bold;
    border-right: 4px solid #f69516;
  }
.sidenav-header {
    height: 49px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #eeeeee;
    margin-bottom: 40px;
}

