

.status-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.status-container .status-card {
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.096);
    margin: 10px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.status-card svg {
    padding: 10px;
    background: rgba(255, 255, 255, 0.185);
    border-radius: 50%;
    font-size: 25px;
}

.status-card:nth-child(1){
    background: linear-gradient(35deg, rgba(255, 63, 5, 0.281), rgba(255, 60, 0, 0.835));
}

.status-card:nth-child(2) {
    background: linear-gradient(35deg, rgba(3, 153, 180, 0.281), rgba(3, 153, 180, 0.623));
}

.status-card:nth-child(3) {
    background: linear-gradient(35deg, rgba(26, 235, 155, 0.281), rgba(26, 235, 154, 0.733));
}

.status-card:nth-child(4) {
    background: linear-gradient(35deg, rgba(133, 3, 209, 0.281), rgba(133, 3, 209, 0.623));
}

.status-container .status-card h6{
    font-size: 26px;
    font-weight: lighter;
    margin: 2px 0;
}

.status-container .status-card small {
    font-size: 11px;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 0px;
}

.chart {
    margin: 4px 20px;
}

.notification-container {
    padding: 20px;
    max-width: 300px;
}

.notification-container .notification-header {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
    color: #f4f4f487;
}

.notification-container h3 {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0;
    color: #ffffff;
}

.notification-container p {
    margin: 10px 0;
    line-height: 20px;
    color: #b4b4b4;
}

.notification-container button {
    background-color: #457697;
    color: #fff;
}
