

.status-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.status-container .status-card {
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    min-width: 200px;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-evenly;
}

.status-card svg {
    padding: 10px;
    border: 1px solid rgba(201, 201, 201, 0.95);
    border-radius: 50%;
    font-size: 25px;
    color: rgb(155, 155, 155);
}

.status-card-text {
    display: flex;
    flex-direction: column;
}

.status-container .status-card h6{
    font-size: 26px;
    font-weight: 200;
    margin: 2px 0;
}

.status-container .status-card small {
    font-size: 14px;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 0px;
}

.chart {
    margin: 4px 20px;
}

.notification-container {
    padding: 20px;
    max-width: 300px;
}

.notification-container .notification-header {
    display: flex;
    justify-content: flex-end;
    padding: 0px 0px 10px 0px;
    color: #f4f4f487;
}

.notification-header svg{
    font-size: 19px;
}

.notification-container h3 {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0;
}

.notification-container p {
    margin: 10px 0;
    line-height: 20px;
    color: #b4b4b4;
}

.notification-container button {
    background-color: #457697;
    color: #fff;
}
