

.status-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.status-container .status-card {
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    min-width: 200px;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-evenly;
    background: #fff;
    border: 1px solid #e3e3e3;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
}

.status-card svg {
    padding: 10px;
    border-radius: 50%;
    font-size: 25px;
    color: #8f8f8f;
    background: #f8f8f8;
}

.status-card-text {
    display: flex;
    flex-direction: column;
}

.status-container .status-card h6{
    font-size: 26px;
    font-weight: 200;
    margin: 2px 0;
}

.status-container .status-card small {
    font-size: 14px;
}

.home-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.home-container div svg{
    font-size: 19px;
}

.home-container div p {
    margin: 10px 0;
    line-height: 20px;
    color: #b4b4b4;
}

.home-card {
    width: 296px;
}

