
div.posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


div.posts-header {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    height: 105px;
}

div.posts-header button{
  margin: 0 10px;
}


div.post-card {
    background-color: #fff;
    margin: 10px 0;
    min-width: 503px;
    transition: .2s;
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    box-shadow: 2px 2px 10px #82828212;
    padding: 20px;
}

div.post-card-header  h3 {
    margin: 10px 0;
    font-size: 20px;
}

div.post-card-header {
    padding: 14px;
    min-height: 92px;
}

div.post-card-header .category {
    display: inline-block;
    margin: 2px 0;
    padding: 3px 10px;
    background: rgba(226, 226, 226, 0.322);
    color: #8f8f8f;
}

.post-card-body {
    padding: 10px;
    min-height: 92px;
}
.post-card-body p {
    color: #a4a4a4;
}
div.post-card-header > svg {
    float: right;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.041);
}

div.post-card-header > svg:hover {
    background-color: rgba(224, 41, 41, 0.322);
}

div.post-card-footer {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-style: italic;
    padding: 6px 0;
}

/* ================= New Post =================== */

.add-post-container {
    margin: 90px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.add-post-body form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.05);
    width: 274px;
    font-weight: 600;
    color: #333;
}

.add-post-body form label {
    display: block;
    font-weight: 500;
}


.add-post-body form textarea {
    resize: vertical;
}

.add-post-info {
    line-height: 35px;
    width: 350px;
}


.add-post-info  p {
    color: #a8a4a4;
    line-height: 19px;
    margin: 10px 0;
}
