
div.posts-container {
    display: flex;
    flex-wrap: wrap;
}


div.posts-header {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    height: 105px;
}
 
div.posts-header button{
  margin: 0 10px;
}


div.post-card {
    background-color: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.07);
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #dfdfdfe3;
    width: 540px;
    transition: .2s;
}

div.post-card-header  h3 {
    margin: 10px 0;
    font-size: 20px;
}

div.post-card-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.096);
    padding: 10px 0;
}

div.post-card-header .category {
    display: block;
    margin: 8px 0;
}

.post-card-body {
    padding: 10px 0;
}
.post-card-body p {
    color: #a4a4a4;
}
div.post-card-header > svg {
    float: right;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.041);
}

div.post-card-header > svg:hover {
    background-color: rgba(224, 41, 41, 0.322);
}

div.post-card-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}

/* ================= New Post =================== */

.add-post-container {
    width: 700px;
    margin: 20px auto;
    color: #a6b2bd;
}

.add-post-container .btn-back {
    float: right;
}

.add-post-container form {
    display: flex;
    flex-direction: column;
}

.add-post-container form label {
    display: block;
}

.add-post-container .input-group {
    display: flex;
    justify-content: space-between;
}

.add-post-container form textarea {
    resize: vertical;
}

.add-post-container-header {
    border-bottom: 1px solid rgba(134, 134, 134, 0.198);
    padding: 10px 0;
    margin-bottom: 10px;
}


