

.users-container .user-card {
    display: flex;
    align-items: center;
    margin: 6px 10px;
    padding: 5px;
}

.users-header {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    height: 105px;
}

.users-container .user-card svg {
    color: #b99c3c;
    font-size: 25px;
    margin: 10px;
    border-radius: 50%;
    padding: 10px;
}

.users-container .user-card p {
    color: rgba(185, 185, 185, 0.534);
}

/* ===================== ADD USER CONTAINER ========================*/
.add-post-container .btn-back {
    float: right;
}
.add-user-container {
    width: 300px;
    margin: 20px auto;
}
.add-user-container form{
    display: flex;
    flex-direction: column;
}