
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.07);
  }

  header ul li a {
    text-decoration: none;
  }

  header .login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
  }

  header .login svg {
    margin: 0 10px;
  }
