
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
  }


  header svg {
    margin: 0 10px;
  }


  header ul li a {
    text-decoration: none;
  }

  header .login {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
  }
