@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;

}
body {
    background-color: #f2f2f2;
}

body , ul, li, a{
  color: #818181;
  font-family: Nunito, 'segoe ui', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none;
   font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-normal{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0;
    color: #bfa83e;
}

input, button, textarea {
  font: 400 14px Nunito, sans-serif;
}

button , .button{
    background: #8f8f8f;
    cursor: pointer;
    padding: 7px;
    border-radius: 3px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #959595;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

button , .button svg {
    margin-right: 5px;
}

.grid-container {
  transition: .3s;
  display: grid;
  grid-template-columns: 108px 1fr;
  grid-template-rows: 50px 1fr 20px;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  height: 100vh;
}
 .w-sidenav {
    grid-template-columns: 0px 1fr;
 }

.header {
  grid-area: header;
}

.sidenav {
    grid-area: sidenav;
    overflow: hidden;
    background: #24285b;
}

.main {
  grid-area: main;
  position: relative;
}

.footer {
  grid-area: footer;
}


.text-large{
    font-size: xx-large;
    font-weight: 600;
    color: #535353;
}


input , select, textarea {
    background: #ffffff;
    border: 1px solid #8f8f8f4a;
    padding: 7px 5px;
    margin: 10px 0;
    font-family: Nunito, 'segoe ui';
}

.btn-back {
    background: none;
    border: none;
    color: #559bfe;
    text-decoration: underline;
    padding: 0px;
}
